h1 {
  color: grey;
}

.header-menu {
  display: flex;
  height: 50px;
  width: 400px;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

a.header-menu:link {
  color: red;
  text-decoration: none;
}
