<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div class="main-content"> 
        {{>header}}  
        <form>
            <input placeholder="Location">
            <button>
                Search
            </button>


        </form>

        <p id="weather-display"></p>
        <p id="weather-description"></p>
        <p id="location-name"></p>
        <p id="location-country"></p>
        <p id="error"></p>
    </div>
   
    
    {{>footer}}

 <script src="/js/app.js"></script>
</body>
</html>